@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(public/assets/images/background-body.png);
  font-family: Poppins;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-container h1 {
  color: #FA8F21;
}
.header-container #returnIcon {
  height: 40px;
  transition: fill 0.2s ease;
}
.header-container #returnIcon:hover {
  fill: white !important;
}
.header-container ul {
  text-align: center;
  list-style-type: none;
  gap: 1em;
  margin-bottom: 20px;
}
.header-container ul li {
  color: #FA8F21;
  font-weight: 600;
  font-size: 24px;
  border: 2px solid #FA8F21;
  margin: 10px 0;
  border-radius: 6px;
  padding: 5px;
}
.header-container ul li:hover {
  color: antiquewhite;
  transition: 0.2s ease;
}

.texte-accueil-admin {
  text-align: center;
}
.texte-accueil-admin .bienvenue {
  margin: 40px;
  font-size: 24px;
  color: #FA8F21;
}
.texte-accueil-admin p {
  color: #FA8F21;
}

@media screen and (min-width: 576px) {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  ul li {
    font-size: 16px !important;
    border: none !important;
  }
}
@media screen and (min-width: 992px) {
  .header-container {
    margin: 0 80px;
    border-radius: 0 0 15px 15px;
  }
  .texte-accueil-admin .bienvenue {
    font-size: 30px !important;
    color: white;
  }
  .texte-accueil-admin p {
    font-size: 24px;
    color: white;
  }
}/*# sourceMappingURL=admin.css.map */