@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
main,
body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
  background-color: burlywood;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: rgb(59, 59, 59);
  transition: 0.2s ease;
}

.h1AdminTexte,
.h2AdminTexte {
  color: rgb(255, 255, 255);
  margin: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
table th {
  background-color: #f2f2f2;
}
table td {
  color: rgb(247, 247, 247);
}

.blockFormAddTexte {
  text-align: center;
}
.blockFormAddTexte label,
.blockFormAddTexte input,
.blockFormAddTexte textarea {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 6px;
  border: none;
}
.blockFormAddTexte label,
.blockFormAddTexte input, .blockFormAddTexte select {
  height: 3em;
}
.blockFormAddTexte select {
  border: none;
  width: 15vh;
}
.blockFormAddTexte button {
  background-color: rgb(90, 82, 82);
  color: white;
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.blockFormAddTexte button:hover {
  background-color: rgb(117, 113, 113);
}

@media screen and (min-width: 768px) {
  .blockFormAddTexte label,
  .blockFormAddTexte input,
  .blockFormAddTexte textarea {
    width: 60%;
  }
  #tableau {
    margin: 0 20px;
  }
}/*# sourceMappingURL=adminTexte.css.map */