* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(public/assets/images/background-body.png);
    font-family: Poppins;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
        color: $couleur-principale;
    }

    #returnIcon {
        height: 40px;
        transition: fill 0.2s ease;

        &:hover {
            fill: white!important;
        }
    }

    ul {
        text-align: center;
        list-style-type: none;
        gap: 1em;
        margin-bottom: 20px;

        li {
            color: $couleur-principale;

            font-weight: 600;
            font-size: 24px;
            border: 2px solid $couleur-principale;
            margin: 10px 0;
            border-radius: 6px;
            padding: 5px;

            &:hover {
                color: antiquewhite;
                transition: 0.2s ease;
            }
        }
    }
}

.texte-accueil-admin {
    text-align: center;

    .bienvenue {
        margin: 40px;
        font-size: 24px;
        color: $couleur-principale;
    }

    p {
        color: $couleur-principale;
    }
}

@media screen and (min-width: 576px) {
    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        li {
            font-size: 16px !important;
            border: none !important;
        }
    }
}

@media screen and (min-width: 992px) {
    .header-container {
        margin: 0 80px;
        border-radius: 0 0 15px 15px;
    }

    .texte-accueil-admin {
        .bienvenue {
            font-size: 30px !important;
            color: white;
        }

        p {
            font-size: 24px;
            color: white;
        }
    }
}