$active-class: #177dd2;

body {

    background-color: rgba(0, 0, 0, 0.6) !important;
}

main {
    text-align: center;

    .no-compte {
        background-color: #000000;
        color: white;
        font-family: sans-serif
    }

    input {
        height: 3em;
        width: 16em;
        border-radius: 15px;
        padding: 0;

        &.no-compte:hover {
            background-color: $active-class !important;
            transition: 0.2s ease;
        }
    }
}

form {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $couleur-principale;
    border-radius: 15px;
    margin: 30px 30px;
    padding: 40px;

    h1 {
        font-size: 20px;
        color: white !important;
        padding: 0 !important;
    }

    label {
        color: white;
        font-family: Inter;
    }

    input {
        margin: 10px;
        border-radius: 6px;

        &::placeholder {
            padding-left: 10px;
        }
    }
}