footer {
    @include flexCenter();
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    padding: 20px;

    img {
        width: 40%;
    }

    .logoReseaux {
        display: flex;
        margin: auto;
        width: 20%;

        img {
            border-radius: 6px;
            margin: 10px;
        }
    }
}

@media screen and (min-width: 576px) {
    footer {
        display: grid;
        grid-template-columns: repeat(5, 20%);

        img {
            width: 100%;
        }

        .logoReseaux {
            gap: 5px;
            img {
                border-radius: 6px;
            }
        }
    }
}