@charset "UTF-8";
.blocPresentation {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  /* Noir avec une opacité de 60% */
  border-radius: 0 0 6px 6px;
}
.blocPresentation .logoTop {
  display: none;
}
.blocPresentation h2 {
  font-family: Inter;
  color: #FA8F21;
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 28px;
  margin: 0 0 10px;
  font-size: 20px;
}
.blocPresentation #textPresentation {
  color: #FA8F21;
  padding: 0 40px 20px 40px;
  font-family: Inter;
  line-height: 18px;
}

.adress {
  color: white;
  font-size: 10px;
  font-family: Inter;
  text-align: center;
  padding-bottom: 10px;
}

.hrBase {
  width: 70%;
  border: none;
  border-bottom: 2px solid #FA8F21;
  margin-left: auto;
  margin-right: auto;
}

.medias {
  text-align: center;
  align-items: center;
  margin: 20px 0 20px;
}
.medias img {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
}
.medias .dateAjout {
  color: white;
  font-style: italic;
}
.medias .photos,
.medias .videos,
.medias .actus {
  margin: 20px 0;
}
.medias .photos img,
.medias .videos img,
.medias .actus img {
  transition: transform 0.3s;
}
.medias .photos img:hover,
.medias .videos img:hover,
.medias .actus img:hover {
  transform: scale(1.1);
}

.blocWeekEnd {
  text-align: center;
  align-items: center;
  margin: 20px 0 20px;
}
.blocWeekEnd img {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
}
.blocWeekEnd .btnResa {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 6px;
  transition: all 0.1s;
  font-size: 20px;
}

.agenda {
  text-align: center;
  margin-bottom: 20px;
}
.agenda h3 {
  margin: 20px 0;
}
.agenda .vertical-line {
  font-size: 20px;
  color: #FA8F21;
}
.agenda .vertical-line p {
  padding: 0 40px;
  font-family: Inter;
  font-size: 18px;
}
.agenda img.image-modal {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
  margin: auto;
  cursor: pointer;
}
.agenda img.image-modal + .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.agenda img.image-modal + .modal img.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.agenda img.image-modal.clicked + .modal {
  display: flex;
}

.navette-container .image-navette img {
  box-sizing: border-box;
  width: 80%;
  margin: 20px;
  border: 3px solid #FA8F21;
  border-radius: 15px;
}
.navette-container p {
  padding: 40px 40px;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
  color: #FA8F21;
}

#message {
  resize: none;
  width: 75%;
}

#btn-scroll {
  position: fixed;
  bottom: 40px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
#btn-scroll.visible {
  opacity: 1;
  visibility: visible;
}
#btn-scroll img {
  padding-top: 8px;
  width: 60px;
  height: 60px;
}

.scroll {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(133, 145, 150) 0%, rgb(202, 86, 164) 81.3%);
  text-align: center;
}

@media screen and (min-width: 576px) {
  .blocWeekEnd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
  }
  .medias {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .medias .photos,
  .medias .videos,
  .medias .actus {
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .blocPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .blocPresentation .adress {
    font-size: 18px;
  }
  .blocPresentation .textPresentation {
    margin: 0 40px 0 40px;
    transition: 0.3s;
    font-size: 20px;
  }
  .blocPresentation .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .blocPresentation .title-container h1 {
    font-size: 38px;
    margin-bottom: 10px;
    position: relative;
    left: 35%;
    transform: translateX(-50%);
  }
  .blocPresentation .title-container .logoTop {
    display: flex;
    width: 20vh;
  }
  .blocPresentation .address {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .blocPresentation h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .blocPresentation .textPresentation {
    text-align: center;
    margin-bottom: 10px;
  }
  .agenda p {
    padding: 0 40px 20px 40px;
  }
  .agenda img {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .blocWeekEnd input {
    max-width: 30%;
  }
  .agenda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .agenda .vertical-line {
    border-left: 2px solid #FA8F21;
    display: inline-block;
  }
  .agenda .vertical-line p {
    font-size: 20px;
    text-align: center;
    color: #FA8F21;
    padding: 10px;
  }
  .agenda h3 {
    margin: 0;
  }
  .agenda span p {
    margin: 0 20px;
  }
  .navette-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }
  .navette-container h3 {
    grid-column: 1/3;
  }
  .navette-container .image-navette {
    grid-column: 2/3;
  }
  .navette-container .text-navette {
    grid-column: 1/2;
  }
  .navette-container .text-navette p {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .blocWeekEnd input {
    max-width: 30%;
  }
  .medias img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .agenda img {
    max-width: 80%;
  }
}
@media screen and (min-width: 1542px) {
  .blocPresentation p {
    max-width: 70%;
  }
  .blocWeekEnd {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
  }
  .agenda img {
    width: 50%;
  }
}/*# sourceMappingURL=index.css.map */