@import 'mixin.scss';
$couleur-principale : #FA8F21;
.blocPresentation {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    /* Noir avec une opacité de 60% */
    border-radius: 0 0 6px 6px;



    .logoTop {
        display: none;
    }

    h2 {
        @include titleStyle();
        font-size: 20px;
    }

    #textPresentation {
        color: $couleur-principale;
        padding: 0 40px 20px 40px;
        font-family: Inter;
        line-height: 18px;
    }
}

.adress {
    color: white;
    font-size: 10px;
    font-family: Inter;
    text-align: center;
    padding-bottom: 10px;
}

.hrBase {
    width: 70%;
    border: none;
    border-bottom: 2px solid $couleur-principale;
    margin-left: auto;
    margin-right: auto;
}

.medias {
    @include flexCenter();
    margin: 20px 0 20px;

    img {
        max-width: 90%;
        border-radius: 15px;
        border: 3px solid $couleur-principale;
    }

    .dateAjout {
        color: white;
        font-style: italic;
    }

    .photos,
    .videos,
    .actus {
        margin: 20px 0;

        img {
            transition: transform 0.3s; // Ajoute une transition pour une animation fluide

            &:hover {
                transform: scale(1.1); // Applique un zoom de 10% au survol
            }
        }
    }
}

.blocWeekEnd {
    @include flexCenter();
    margin: 20px 0 20px;

    img {
        max-width: 90%;
        border-radius: 15px;
        border: 3px solid $couleur-principale;
    }

    .btnResa {
        width: 70%;
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 6px;
        transition: all 0.1s;
        font-size: 20px;
    }
}

.agenda {
    text-align: center;
    margin-bottom: 20px;

    h3 {
        margin: 20px 0;
    }

    .vertical-line {
        font-size: 20px;
        color: #FA8F21;

        p {
            padding: 0 40px;
            font-family: Inter;
            font-size: 18px;
        }
    }

    img.image-modal {
        max-width: 90%;
        border-radius: 15px;
        border: 3px solid $couleur-principale;
        margin: auto;
        cursor: pointer;

        &+.modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 9999;

            img.modal-content {
                max-width: 80%;
                max-height: 80%;
                border-radius: 10px;
                object-fit: contain;
            }
        }
    }

    img.image-modal.clicked+.modal {
        display: flex;
    }
}

.navette-container {
    .image-navette {
        img {
            box-sizing: border-box;
            width: 80%;
            margin: 20px;
            border: 3px solid $couleur-principale;
            border-radius: 15px;
        }
    }

    p {
        padding: 40px 40px;
        font-family: Inter;
        font-size: 20px;
        text-align: center;
        color: $couleur-principale;
    }
}

#message {
    resize: none;
    width: 75%;
}

#btn-scroll {
    position: fixed;
    bottom: 40px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    img {
        padding-top: 8px;
        width: 60px;
        height: 60px;
    }
}

.scroll {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(133, 145, 150) 0%, rgb(202, 86, 164) 81.3%);
    text-align: center;
}


@media screen and (min-width: 576px) {

    .blocWeekEnd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 10px;
    }

    .medias {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .photos,
        .videos,
        .actus {
            width: 49%;
        }

    }

}

@media screen and (min-width: 768px) {
    .blocPresentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .adress {
            font-size: 18px;
        }

        .textPresentation {
            margin: 0 40px 0 40px;
            transition: 0.3s;
            font-size: 20px;
        }

        .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            h1 {
                font-size: 38px;
                margin-bottom: 10px;
                position: relative;
                left: 35%;
                transform: translateX(-50%);
            }

            .logoTop {
                display: flex;
                width: 20vh;
            }
        }

        .address {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 10px;
        }

        .textPresentation {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .agenda {
        p {
            padding: 0 40px 20px 40px;
        }

        img {
            width: 70%;
        }
    }
}

@media screen and (min-width: 992px) {
    .blocWeekEnd {
        input {
            max-width: 30%;
        }
    }

    .agenda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .vertical-line {
            border-left: 2px solid $couleur-principale;
            display: inline-block;

            p {
                font-size: 20px;
                text-align: center;
                color: $couleur-principale;
                padding: 10px;
            }
        }

        h3 {
            margin: 0;
        }

        span {
            p {
                margin: 0 20px;
            }
        }
    }

    .navette-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0;

        h3 {
            grid-column: 1/3;
        }

        .image-navette {
            grid-column: 2/3;
        }

        .text-navette {
            grid-column: 1/2;

            p {
                padding: 0 40px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .blocWeekEnd {
        input {
            max-width: 30%;
        }
    }

    .medias {
        img {
            object-fit: cover;
        }
    }

    .agenda {
        img {
            max-width: 80%;
        }
    }
}


@media screen and (min-width: 1542px) {
    .blocPresentation {
        p {
            max-width: 70%;
        }
    }

    .blocWeekEnd {
        max-width: fit-content;
        margin: auto;
    }

    .agenda {
        img {
            width: 50%;
        }
    }
}