$body-font: 'Poppins';

.desktop-compte {
    display: none;
}

.container-mobile {
    padding: 20px;
}

.img-profile {
    display: grid;
    position: relative;

    img {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-top: -100px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 200px;
        box-shadow: 0px 40px 40px rgba(32, 79, 211, 0.8);
    }
}

.name {
    font-size: 20px;
    line-height: 54px;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-family: Inter;
}

/* item section */
.item {
    padding: 10px;
    display: grid;
    margin-top: 50px;
    margin: 10px;
    grid-template-columns: 10% 80% 10%;

    img {
        width: 24px;
    }

    span {
        font-style: normal;
        font-size: 24px;
        font-weight: 550;
        padding: 8px;
        line-height: 16px;
        color: white;
        font-family: Inter;
    }
}

.item-logout {
    padding: 10px;
    display: grid;
    margin-top: 5rem !important;
    margin: 10px;
    grid-template-columns: 10% 80% 10%;

    img {
        width: 24px;
    }

    span {
        font-style: normal;
        font-size: 24px;
        font-weight: 550;
        padding: 8px;
        line-height: 16px;
        color: white;
        font-family: Inter;
    }
}

#profile-info,
#profile-adress {
    font-family: Inter;

    color: $couleur-principale;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s ease;
}

@media screen and (min-width: 768px) {
    .compte-mobile {
        display: none;
    }

    .desktop-compte {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .avatar-icon {
            grid-column: 2 / span 4;

            img {
                max-width: 6em;
                margin: 20px;
            }
        }

        .infos {
            grid-column: 1 / span 3;
            grid-template-rows: auto auto; // Définit deux lignes de hauteur automatique
            justify-items: center; // Centre horizontalement les éléments
            align-items: start; // Aligne les éléments en haut
            font-size: 20px;
            font-family: Inter;
            color: white;
            border: 2px solid $couleur-principale;
            border-radius: 6px;
            margin: 20px;

            .info-perso,
            .adresse {
                margin: 10px 0; // Ajoute une marge entre les éléments
            }
        }
    }
}