.burger {
  position: absolute;
  background-color: white;
  min-height: 100vh;
  left: -400px;
  top: 0;
  z-index: 50;
}
.burger a {
  text-decoration: none;
  color: #FA8F21;
}

.navbar {
  display: none;
  background-image: url(public/assets/images/background-header3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
.navbar menu a {
  text-decoration: none;
  color: #FA8F21;
}

.navbarResponsive {
  position: relative;
  background-image: url(public/assets/images/background-header3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 20px;
}
.navbarResponsive a {
  padding: 32px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.navbarResponsive a:hover {
  color: #111;
}
.navbarResponsive ul {
  left: 0;
}
.navbarResponsive .close {
  top: 0;
}
.navbarResponsive .close img {
  width: 15%;
}
.navbarResponsive .active {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbarResponsive .burgerImage {
  display: block;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 0 0 40px;
  }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #FA8F21;
    font-size: 24px;
  }
  .navbar .menu a {
    text-decoration: none;
    color: #FA8F21;
  }
  .navbar .menu p:hover {
    color: #ffffff;
  }
  .navbarResponsive {
    display: none;
  }
}/*# sourceMappingURL=navbar.css.map */