@mixin flexCenter {
    text-align: center;
    align-items: center;
}

@mixin titleStyle {
    font-family: Inter;
    color: $couleur-principale;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 28px;
    margin: 0 0 10px;
}

$couleur-principale : #FA8F21;
@import 'index.scss';
@import 'admin.scss';
@import 'navbar.scss';
@import 'styleAlbumPhoto.scss';
@import 'connexion.scss';
@import 'moncompte.scss';
@import 'contact.scss';
@import 'inscription.scss';
@import 'footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

main,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(public/assets/images/background-body.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    @include titleStyle();
    padding-top: 20px;
}

h3 {
    @include titleStyle();
    color: white;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    h2 {
        font-family: Inter;
    }
}

.popup-content {
    position: relative;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;

    p {
        font-family: Inter;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: rgb(26, 102, 173);
            }
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.2 ease;
            cursor: pointer;
        }
    }
}

.popup-form {
    background-color: #fff;
}

#login-button {
    padding: 15px 25px;
    align-items: center;
    border: none;
    border-radius: 12px;
    box-shadow: 5px 5px #6e6868;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover {
        transform: translateY(2px);
        box-shadow: 3px 3px;
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 1px 1px;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.close-btn:hover {
    color: #555;
}


@media screen and (min-width: 576px) {
    h3 {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 24px;
    }
}