.blockPhotos {
    width: 100%;

    .album {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            font-size: 20px;
            color: $couleur-principale;
        }

        img {
            max-width: 90%;
            border: 2px solid $couleur-principale;
            border-radius: 6px;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s ease;
            }
        }
    }
}

hr {
    width: 70%;
    border: none;
    border-bottom: 2px solid $couleur-principale;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .blockPhotos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .album {
            margin: 20px 0;

            p {
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .blockPhotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .album {
            flex-basis: 28%;
            margin: 10px;
        }
    }
}