@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

main,
body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    background-color: burlywood;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(59, 59, 59);
            transition: 0.2s ease;
        }
    }
}

#tableauUtilisateur {
    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        td {
            color: rgb(247, 247, 247);
        }

        .btn-supprimer {
            height: 2em;
            font-family: Poppins;
            font-weight: bold;
            border-radius: 6px;
            border: none;
            box-shadow: 9px 7px 9px -7px rgba(0, 0, 0, 0.7);

            &:hover {
                color: white;
                background-color: rgb(161, 144, 121);
                transition: 0.2s ease-in-out;
            }
        }
    }

}



@media screen and (min-width: 768px) {
    #tableauUtilisateur {
        margin: 0 20px;
    }
}