@mixin flexCenter {
    text-align: center;
    align-items: center;
}

@mixin titleStyle {
    font-family: Inter;
    color: $couleur-principale;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 28px;
    margin: 0 0 10px;
}