$active-class: #177dd2;

.connexion {
    display: flex;
    flex-direction: column;
    color: white;

    .h1Connect-mobile {
        margin: 20px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 0;
        border-radius: 6px;
    }

    .form-connect-mobile {
        display: flex;
        flex-direction: column;
        border: 2px solid $couleur-principale;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px 0;
        border-radius: 6px;

        input {
            width: 80%;
            height: 2em;
            font-size: 20px;
            margin: 10px auto;
            border-radius: 6px;
            border: none;
            text-align: center;
        }

        button {
            width: fit-content;
            margin: 20px auto;
            padding: 10px;
            border-radius: 6px;
            border: none;
            background-color: black;
            color: white;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: $active-class;
            }
        }
    }
}

.inscript {
    .no-compte {
        margin: 20px auto;
        padding: 10px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 480px) {
    .connexion {
        margin: 0 20px;
    }
}

@media screen and (min-width: 768px) {

    .form-connexion,
    .h1Connect-mobile,
    .inscript {
        display: none;
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9999;

        &-content {
            position: relative;
            max-width: 600px;
            margin: 300px auto;
            padding: 20px;
            background-color: white;
            border-radius: 6px;
            text-align: center;

            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                color: #1b1b1b;
                cursor: pointer;
               
            }

            .close-btn:hover {
                color: #555;
                transform: rotate3d(1, 1, 1, 50deg);
            }

            .popup-form {
                display: flex;
                flex-direction: column;

                h2 {
                    color: $couleur-principale;
                    margin: 20px 0;
                }

                p {
                    a {
                        text-decoration: none;

                        &:hover {
                            color: rgb(26, 102, 173);
                        }
                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3 ease;
                        cursor: pointer;
                    }
                }

                .login-button {
                    padding: 15px 25px;
                    align-items: center;
                    border: none;
                    border-radius: 12px;
                    box-shadow: 5px 5px #6e6868;
                    margin: 20px auto;
                    width: 80%;
                    text-transform: uppercase;
                    cursor: pointer;
                    outline: none;

                    &:hover {
                        transform: translateY(2px);
                        box-shadow: 3px 3px;
                    }

                    &:active {
                        transform: translateY(5px);
                        box-shadow: 1px 1px;
                    }
                }

                input {
                    width: 80%;
                    margin: 10px auto;
                    padding: 10px;
                    border-radius: 6px;
                    border: 1px solid $couleur-principale;
                    text-align: center;
                }
            }
        }
    }
}