.blockFormContact {
    
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 60px 0 60px;
        padding: 0;
        background-color: rgba(0,0,0,0.6);
        border:2px solid $couleur-principale;
            
        hr {
            width: 80%;
        }
    
        input {
            width: 80%;
            height: 3em;
        }
    
        textarea {
            width: 80%;
            margin: 10px;
            border-radius: 6px;
            resize: none;
        }
    
        .h1Contact{
            font-family: Poppins;
        }
    
        button {
            margin: 15px;
            background-color: $couleur-principale;
            cursor: pointer;
            color: white;
            font-family:Poppins;
            border: none;
            border-radius: 6px;
            padding: 10px;
        }

        label {
            
            color: $couleur-principale;
            font-weight: bold;
        }
    }
}



.blockInfosContact {
    display: none;
}

@media screen and (min-width: 576px) {
    .blockForm {
        display: flex;
        justify-content: center;
        form {     
            width: 90%;
        }
    }
}


@media screen and (min-width: 768px) {
    .blockFormContact {
        display: flex;
        justify-content: center;
        form {     
            width: 70%;     
        }
    }
}

@media screen and (min-width: 992px) {
    .blockFormContact {
        width: 90%;
        margin: auto;
        .blockInfosContact {
            display: inline-block;
            margin: 60px 0 60px;
            background-color: rgba(0,0,0,0.6);
            width: 50%;
            border: 2px solid #FA8F21;
            border-left: none;
            border-radius: 0 6px 6px 0;
            
            .adresseContact{
                color: white;
                text-align: center;
                
                p {
                    margin: 40px;
                }
            }
            hr {

                padding-top: 10px;
                width: 80%;
            }
            
            .images {
                background-color: white;
                margin:20px auto;
                text-align: center;
                width: fit-content;
                border-radius: 6px; 
            }

            img {
                height: 40px;
                border-radius: 6px;
                margin: 10px;
                cursor: pointer;
            }
            
            .h2Contact {
                font-size: 28px!important;
                color: #FA8F21;
                text-align: center;
                margin-bottom: 10px;
                font-size: 20px;
            }

            .contactAutre {
                text-align: center;
            }
            color: white;
        }

        form {
            width: 50%;
            border-right: none;
            border-radius: 6px 0 0 6px;
        }
    }
}

@media screen and (min-width: 1492px) {
    .blockForm {
        width: 60%;
    }
}

