
.footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding: 20px;

    img {
        width: 40%;
    }

    .logoReseaux {
        display: flex;
        justify-content: space-around;  
        
        a {
            text-decoration: none;
            img {
                border-radius: 6px;
                width: 40px;  
                margin-top: 10px;
            }
        } 
    }
}

@media screen and (min-width: 576px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(5, 20%);

        img {
            width: 100%;
        }

        .logoReseaux {
            gap: 5px;
            img {
                border-radius: 6px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .footer {
        img {
            width: 80%;
        }
    }
}