.inscription {
    .formInscription {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $couleur-principale;
        background-color: rgba(0,0,0,0.6);
        margin: 40px 0;
    }

    input {
        height: 3em;
        width: 80%;
        margin: 10px;
        border-radius: 6px;
        border: none;
    }

    label {
        font-size: 20px;
        color: white;
    }

    button {
        margin: 10px;
        padding: 10px;
        cursor: pointer;
    }
}