.burger {
    position: absolute;
    background-color: white;
    min-height: 100vh;
    left: -400px;
    top: 0;
    z-index: 50;

    a {
        text-decoration: none;
        color: $couleur-principale;
    }
}

.navbar {
    display: none;
    background-image: url('../assets/images/background-header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;

    menu {
        a {
            text-decoration: none;
            color: $couleur-principale;
        }
    }
}

.navbarResponsive {
    position: relative;
    background-image: url('../assets/images/background-header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: fit-content;
    padding: 20px;

    a {
        padding: 32px 0;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #111;
        }
    }

    ul {
        left: 0;
    }

    .close {
        top: 0;

        img {
            width: 15%;
        }
    }

    .active {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .burgerImage {
        display: block;
        position: absolute;
    }
}


@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 48px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        padding: 0 0 40px;

        .menu {
            display: flex;
            flex-direction: row;
            font-size: 20px;
            justify-content: space-around;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            margin-bottom: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $couleur-principale;
            font-size: 24px;

            a {
                text-decoration: none;
                color: $couleur-principale;
            }


            p {
                &:hover {
                    color: #ffffff;
                }
            }

        }
    }

    .navbarResponsive {
        display: none
    }
}