.addCover {
    border: 2px $couleur-principale solid;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px 0;
    padding: 20px 0;

    .addCoverInput {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    h2 {
        margin-bottom: 20px;
    }

    label {
        color: white;
    }

    input {
        max-width: 100%;
        color: $couleur-principale;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #555;
    }
    select {
        height: 2em;
        width: fit-content;
        font-size: 16px;
        border-radius: 6px;
        border: none;
        margin: 20px auto;
    }

    button {
        margin: 10px auto;
        height: 2em;
        padding: 5px;
        border-radius: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: fit-content;

    }
}

.download {
    border: 2px $couleur-principale solid;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);

    .left {
        display: flex;
        text-align: center;
        flex-direction: column;

        label {
            color: white;
        }
    }

    input {
        border: none;
        border-radius: 6px;
        align-items: center;
        width: 100%;
        padding-left: 5px;
        padding: 10px;
    }

    input[type=file] {
        max-width: 100%;
        color: $couleur-principale;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #555;

    }

    label {
        margin: 10px;
    }

    select {
        height: 2em;
        width: fit-content;
        font-size: 16px;
        border-radius: 6px;
        border: none;
        margin: 20px;
    }

    button {
        margin: 10px;
        height: 2em;
        padding: 5px;
        border-radius: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }


    form {
        margin: 10px;
        padding: 10px;
    }

    .top {
        color: $couleur-principale;

        img {
            width: 70%;
            margin: 20px 0;
            background-color: #fff;
            border-radius: 6px;
        }
    }

    .right {
        display: none;
    }
}

.h2CreaAlbum {
    font-family: Inter;
    color: #FA8F21;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 28px;
    margin: 0 0 10px;
    padding-top: 20px;
}

.ajoutAlbum {
    margin: 20px;

    .formAlbum {
        display: flex;
        flex-direction: column;
        border: 2px solid $couleur-principale;

        label {
            color: white;
        }

        input {
            width: 80%;
            margin: 20px auto;
            height: 3em;
            border-radius: 6px;
            border: none;

        }

        button {
            margin: 10px auto;
            height: 2em;
            width: fit-content;
            padding: 5px;
            border-radius: 6px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    }
}



@media screen and (min-width: 576px) {
    .h1Photo {
        background-color: #fff;
        padding: 10px 10px;
        margin: 20px auto;
        width: fit-content;
        border-radius: 6px;
    }

    .left {
        form {
            margin: auto;
        }
    }

    .top {
        img {
            width: 60%;
        }
    }
}

@media screen and (min-width: 768px) {

    .top,
    .h2PhotoAdmin {
        display: none;
    }

    form {
        border-right: none;
        border-radius: 6px 0 0 6px;
    }

    .download {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin: auto;

        .left {
            flex-direction: row;
            margin-bottom: 0;
            width: 50%;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 20px;
                margin: 60px 0;
                width: 100%;
            }
        }


        .right {
            display: inline-block;
            color: #FA8F21;

            background-color: rgba(0, 0, 0, 0.6);
            width: 50%;
            border-left: 2px solid $couleur-principale;
            border-radius: 0 6px 6px 0;

            img {
                width: 80%;
                background-color: #fff;
                border-radius: 6px;
            }
        }
    }
}

.formAlbum {
    width: 50%;
    margin: auto;
}

@media screen and (min-width: 992px) {
    .download {
        margin: 0 80px;
        border-top: none;
        border-radius: 0 0 6px 6px;

        .right {
            img {
                width: 60%;
            }
        }
    }
    .addCover.addCover {
        margin: 0 80px;
        border-radius: 6px 6px 0 0;
    }
}