.blockSoiree {
    display: flex;
    flex-direction: column;
    margin: 10%;

    .soiree {
        border: 2px solid $couleur-principale;
        border-radius: 6px;
        margin: 20px 0;
        padding: 20px;
        p {
            background-color: white;
            color: $couleur-principale;
            margin: auto;
        }
    }

    img {
        border-radius: 6px;
        width: 100%;
    }

    .textSoiree {
        color: white;
    }

    button {
        width: fit-content;
        margin: auto;
        padding: 10px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .blockSoiree {
        
        .soiree {
            width: 80%;
            margin: 20px auto ;
        }
    }
}

@media screen and (min-width: 992px) {
    .blockSoiree {
        margin: 0;
        .soiree {
            width: 50%;
            margin: 20px auto ;
        }

        img {
            height: 50%;
        }
    }
}