@import '../assets/fonts/Inter.css';
@import '../assets/fonts/Poppins.css';
.blocPresentation {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 6px 6px;
}
.blocPresentation .logoTop {
  display: none;
}
.blocPresentation h2 {
  font-family: Inter;
  color: #FA8F21;
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 28px;
  margin: 0 0 10px;
  font-size: 20px;
}
.blocPresentation #textPresentation {
  color: #FA8F21;
  padding: 0 40px 20px 40px;
  font-family: Inter;
  line-height: 18px;
}

.adress {
  color: white;
  font-size: 10px;
  font-family: Inter;
  text-align: center;
  padding-bottom: 10px;
}

.hrBase {
  width: 70%;
  border: none;
  border-bottom: 2px solid #FA8F21;
  margin-left: auto;
  margin-right: auto;
}

.medias {
  text-align: center;
  align-items: center;
  margin: 20px 0 20px;
}
.medias img {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
}
.medias .dateAjout {
  color: white;
  font-style: italic;
}
.medias .photos,
.medias .videos,
.medias .actus {
  margin: 20px 0;
}
.medias .photos img,
.medias .videos img,
.medias .actus img {
  transition: transform 0.3s;
}
.medias .photos img:hover,
.medias .videos img:hover,
.medias .actus img:hover {
  transform: scale(1.1);
}

.blocWeekEnd {
  text-align: center;
  align-items: center;
  margin: 20px 0 20px;
}
.blocWeekEnd img {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
}
.blocWeekEnd .btnResa {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 6px;
  transition: all 0.1s;
  font-size: 20px;
}

.agenda {
  text-align: center;
  margin-bottom: 20px;
}
.agenda h3 {
  margin: 20px 0;
}
.agenda .vertical-line {
  font-size: 20px;
  color: #FA8F21;
}
.agenda .vertical-line p {
  padding: 0 40px;
  font-family: Inter;
  font-size: 18px;
}
.agenda img.image-modal {
  max-width: 90%;
  border-radius: 15px;
  border: 3px solid #FA8F21;
  margin: auto;
  cursor: pointer;
}
.agenda img.image-modal + .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.agenda img.image-modal + .modal img.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.agenda img.image-modal.clicked + .modal {
  display: flex;
}

.navette-container .image-navette img {
  box-sizing: border-box;
  width: 80%;
  margin: 20px;
  border: 3px solid #FA8F21;
  border-radius: 15px;
}
.navette-container p {
  padding: 40px 40px;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
  color: #FA8F21;
}

#message {
  resize: none;
  width: 75%;
}

#btn-scroll {
  position: fixed;
  bottom: 40px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
#btn-scroll.visible {
  opacity: 1;
  visibility: visible;
}
#btn-scroll img {
  padding-top: 8px;
  width: 60px;
  height: 60px;
}

.scroll {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(133, 145, 150) 0%, rgb(202, 86, 164) 81.3%);
  text-align: center;
}

@media screen and (min-width: 576px) {
  .blocWeekEnd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
  }
  .medias {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .medias .photos,
  .medias .videos,
  .medias .actus {
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .blocPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .blocPresentation .adress {
    font-size: 18px;
  }
  .blocPresentation .textPresentation {
    margin: 0 40px 0 40px;
    transition: 0.3s;
    font-size: 20px;
  }
  .blocPresentation .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .blocPresentation .title-container h1 {
    font-size: 38px;
    margin-bottom: 10px;
    position: relative;
    left: 35%;
    transform: translateX(-50%);
  }
  .blocPresentation .title-container .logoTop {
    display: flex;
    width: 20vh;
  }
  .blocPresentation .address {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .blocPresentation h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .blocPresentation .textPresentation {
    text-align: center;
    margin-bottom: 10px;
  }
  .agenda p {
    padding: 0 40px 20px 40px;
  }
  .agenda img {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .blocWeekEnd input {
    max-width: 30%;
  }
  .agenda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .agenda .vertical-line {
    border-left: 2px solid #FA8F21;
    display: inline-block;
  }
  .agenda .vertical-line p {
    font-size: 20px;
    text-align: center;
    color: #FA8F21;
    padding: 10px;
  }
  .agenda h3 {
    margin: 0;
  }
  .agenda span p {
    margin: 0 20px;
  }
  .navette-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }
  .navette-container h3 {
    grid-column: 1/3;
  }
  .navette-container .image-navette {
    grid-column: 2/3;
  }
  .navette-container .text-navette {
    grid-column: 1/2;
  }
  .navette-container .text-navette p {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .blocWeekEnd input {
    max-width: 30%;
  }
  .medias img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .agenda img {
    max-width: 80%;
  }
}
@media screen and (min-width: 1542px) {
  .blocPresentation p {
    max-width: 70%;
  }
  .blocWeekEnd {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
  }
  .agenda img {
    width: 50%;
  }
}
.burger {
  position: absolute;
  background-color: white;
  min-height: 100vh;
  left: -400px;
  top: 0;
  z-index: 50;
}
.burger a {
  text-decoration: none;
  color: #FA8F21;
}

.navbar {
  display: none;
  background-image: url("../assets/images/background-header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
.navbar menu a {
  text-decoration: none;
  color: #FA8F21;
}

.navbarResponsive {
  position: relative;
  background-image: url("../assets/images/background-header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 20px;
}
.navbarResponsive a {
  padding: 32px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.navbarResponsive a:hover {
  color: #111;
}
.navbarResponsive ul {
  left: 0;
}
.navbarResponsive .close {
  top: 0;
}
.navbarResponsive .close img {
  width: 15%;
}
.navbarResponsive .active {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbarResponsive .burgerImage {
  display: block;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 0 0 40px;
  }
  .navbar .menu {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #FA8F21;
    font-size: 24px;
  }
  .navbar .menu a {
    text-decoration: none;
    color: #FA8F21;
  }
  .navbar .menu p:hover {
    color: #ffffff;
  }
  .navbarResponsive {
    display: none;
  }
}
.blockPhotos {
  width: 100%;
}
.blockPhotos .album {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockPhotos .album p {
  text-align: center;
  font-size: 20px;
  color: #FA8F21;
}
.blockPhotos .album img {
  max-width: 90%;
  border: 2px solid #FA8F21;
  border-radius: 6px;
}
.blockPhotos .album img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

hr {
  width: 70%;
  border: none;
  border-bottom: 2px solid #FA8F21;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .blockPhotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blockPhotos .album {
    margin: 20px 0;
  }
  .blockPhotos .album p {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .blockPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blockPhotos .album {
    flex-basis: 28%;
    margin: 10px;
  }
}
.inscript {
  text-align: center;
}
.inscript .no-compte {
  background-color: #000000;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

input {
  height: 3em;
  width: 16em;
  border-radius: 15px;
  padding: 0;
}
input.no-compte:hover {
  background-color: #177dd2 !important;
  transition: 0.2s ease;
}

form {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FA8F21;
  border-radius: 15px;
  margin: 30px 30px;
  padding: 40px;
}
form h1 {
  font-size: 20px;
  color: white !important;
  padding: 0 !important;
}
form label {
  color: white;
  font-family: Inter;
}
form input {
  margin: 10px;
  border-radius: 6px;
}
form input::-moz-placeholder {
  padding-left: 10px;
}
form input::placeholder {
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-container h1 {
  color: #FA8F21;
}
.header-container #returnIcon {
  height: 40px;
  transition: fill 0.2s ease;
}
.header-container #returnIcon:hover {
  fill: white !important;
}
.header-container ul {
  text-align: center;
  list-style-type: none;
  gap: 1em;
  margin-bottom: 20px;
}
.header-container ul li {
  color: #FA8F21;
  font-weight: 600;
  font-size: 24px;
  border: 2px solid #FA8F21;
  margin: 10px 0;
  border-radius: 6px;
  padding: 5px;
}
.header-container ul li:hover {
  color: antiquewhite;
  transition: 0.2s ease;
}

.texte-accueil-admin {
  text-align: center;
}
.texte-accueil-admin .bienvenue {
  margin: 40px;
  font-size: 24px;
  color: #FA8F21;
}
.texte-accueil-admin p {
  color: #FA8F21;
}

@media screen and (min-width: 576px) {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  ul li {
    font-size: 16px !important;
    border: none !important;
  }
}
@media screen and (min-width: 992px) {
  .header-container {
    margin: 0 80px;
    border-radius: 0 0 15px 15px;
  }
  .texte-accueil-admin .bienvenue {
    font-size: 30px !important;
    color: white;
  }
  .texte-accueil-admin p {
    font-size: 24px;
    color: white;
  }
}
main,
body {
  background-color: burlywood;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
header Navlink {
  text-decoration: none;
  color: white;
}
header Navlink:hover {
  color: rgb(59, 59, 59);
  transition: 0.2s ease;
}

.h1AdminTexte,
.h2AdminTexte {
  color: rgb(255, 255, 255);
  margin: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
table th {
  background-color: #f2f2f2;
}
table td {
  color: rgb(247, 247, 247);
}

.blockFormAddTexte {
  text-align: center;
}
.blockFormAddTexte label,
.blockFormAddTexte input,
.blockFormAddTexte textarea {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 6px;
  border: none;
}
.blockFormAddTexte label,
.blockFormAddTexte input, .blockFormAddTexte select {
  height: 3em;
}
.blockFormAddTexte select {
  border: none;
  width: 15vh;
}
.blockFormAddTexte button {
  background-color: rgb(90, 82, 82);
  color: white;
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.blockFormAddTexte button:hover {
  background-color: rgb(117, 113, 113);
}

@media screen and (min-width: 768px) {
  .blockFormAddTexte label,
  .blockFormAddTexte input,
  .blockFormAddTexte textarea {
    width: 60%;
  }
  #tableau {
    margin: 0 20px;
  }
}
.footer {
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Poppins;
  font-style: normal;
  padding: 20px;
}
.footer img {
  width: 40%;
}
.footer .logoReseaux {
  display: flex;
  margin: auto;
  width: 20%;
}
.footer .logoReseaux img {
  border-radius: 6px;
  margin: 10px;
}

@media screen and (min-width: 576px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }
  .footer img {
    width: 100%;
  }
  .footer .logoReseaux {
    gap: 5px;
  }
  .footer .logoReseaux img {
    border-radius: 6px;
  }
}
main,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../assets/images/background-body.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Inter;
  color: #FA8F21;
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 28px;
  margin: 0 0 10px;
  padding-top: 20px;
}

h3 {
  font-family: Inter;
  color: #FA8F21;
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 28px;
  margin: 0 0 10px;
  color: white;
  font-size: 16px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.popup h2 {
  font-family: Inter;
}

.popup-content {
  position: relative;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
}
.popup-content p {
  font-family: Inter;
}
.popup-content p a {
  text-decoration: none;
  color: black;
}
.popup-content p a:hover {
  color: rgb(26, 102, 173);
}
.popup-content p:hover {
  transform: scale(1.1);
  transition: 0.2 ease;
  cursor: pointer;
}

.popup-form {
  background-color: #fff;
}

#login-button {
  padding: 15px 25px;
  align-items: center;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px #6e6868;
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
#login-button:hover {
  transform: translateY(2px);
  box-shadow: 3px 3px;
}
#login-button:active {
  transform: translateY(5px);
  box-shadow: 1px 1px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.close-btn:hover {
  color: #555;
}

@media screen and (min-width: 576px) {
  h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */