@import './mixin.scss';

$couleur-principale : #FA8F21;
@import 'index.scss';
@import 'navbar.scss';
@import 'albumPhoto.scss';
@import 'connexion.scss';
@import 'administration.scss';
@import 'texteAdmin.scss';
@import 'utilisateurAdmin.scss';
@import 'inscription.scss';
@import 'contact.scss';
@import 'photoAdmin.scss';
@import 'reserve.scss';
@import 'footer.scss';
@import '../assets/fonts/Inter.css';
@import '../assets/fonts/Poppins.css';
@import '../assets/fonts/Arimo.css';

main,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../assets/images/background-body.png');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    @include titleStyle();
    padding-top: 20px;
}

h3 {
    @include titleStyle();
    color: white;
    font-size: 16px;
}

@media screen and (min-width: 576px) {
    h3 {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 24px;
    }
}