.header {
    text-align: center;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(59, 59, 59);
            transition: 0.2s ease;
        }
    }
}

.h1AdminTexte,
.h2AdminTexte {
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

table {
    margin-top: 40px;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: $couleur_principale;
        color: white;
    }

    td {
        color: rgb(0, 0, 0);
        background-color: #f2f2f2;
        font-weight: bold;
    }
}

.blockFormAddTexte {
    text-align: center;

    label,
    input,
    textarea {
        display: block;
        margin: auto;
        width: 80%;
        border-radius: 6px;
        border: none;
        
    }

    label,
    input, select {
        height: 3em;
        
    }

    textarea {
        resize: none;
    }

    input, textarea, select {
        font-size: large;
        margin-bottom: 10px;
    }
    select {
        border: none;
        width: fit-content;
        border-radius: 6px;
    }

    button {
        background-color: rgb(90, 82, 82);
        color: white;
        margin: 10px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(117, 113, 113);
        }
    }
}

@media screen and (min-width: 768px) {
    .blockFormAddTexte {

        label,
        input,
        textarea {
            width: 60%;
        }
    }

    #tableau {
        margin:0 20px;
    }
}