main,
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header {
    text-align: center;
    
    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(59, 59, 59);
            transition: 0.2s ease;
        }
    }
}

#tableauUtilisateur {
    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: $couleur_principale;
            color: white;
        }

        td {
            color: rgb(0, 0, 0);
        }

        .btn-supprimer {
            height: 2em;
            font-weight: bold;
            border-radius: 6px;
            border: none;
            padding: 5px;
            background-color:rgb(0, 0, 0);
            cursor: pointer;
            color: white;

            &:hover {
                background-color: rgb(161, 144, 121);
                transition: 0.2s ease-in-out;
            }
        }
    }

}



@media screen and (min-width: 768px) {
    #tableauUtilisateur {
        margin: 0 20px;
    }
}