#main {
    -fx-background-color:#FFD5A4;
}

.bigButton {
    -fx-background-radius: 40px;
}

.nomRecette {
    -fx-font-size: 20px;
    -fx-text-fill: #FB0000;
    -fx-font-weight: bold;
}

.labelAjoutRecette {
    -fx-font-size: 20px;
}

.commentaire-box {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-margin-bottom: 10px;
}

.date-label {
    -fx-font-weight: bold;
}

.auteur-label {
    -fx-font-style: italic;
}

.contenu-label {
    -fx-margin-top: 5px;
}

.note-label {
    -fx-margin-top: 5px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff7f50;
}

